body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f7baec;
    font-family: 'Arial', sans-serif;
}

.container {
    width: 80%;         /* Adjust the width */
    max-width: 1200px;  /* Prevent it from being too wide */
    margin: 0 auto;     /* Center the container */
    padding: 20px;      /* Add some inner spacing */
    background-color: #f4f4f4; /* Light background */
    border-radius: 20px; /* Rounded corners */
    box-shadow: 0px 4px 6px rgba(192, 42, 135, 0.1); /* Subtle shadow */
}

.header_text {
    font-size: 3;
    color: #d32faa;
}


.audio {
    display: none;
    visibility: hidden;
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover; /* Ensures the video covers the entire screen */
    z-index: -1; /* Sends the video to the background */
}

.content {
    position: relative;
    color: white;
    text-align: center;
    font-size: 24px;
}


.img {
    width: 300px;
    height: 260px;
    background-image: url("Tulip.png");
    background-size: cover; /* Scales image to cover entire div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repetition */
    position: absolute;
    top: 1700px;   /* Moves image 100px down from the top */
    left: 1100px;  /* Moves image 200px from the left */
}
.img2 {
    width: 300px;
    height: 260px;
    background-image: url("Tulip.png");
    background-size: cover; /* Scales image to cover entire div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repetition */
    position: absolute;
    top: 1700px;   /* Moves image 100px down from the top */
    left: 1900px;  /* Moves image 200px from the left */
}
.img3 {
    width: 300px;
    height: 260px;
    background-image: url("Tulip.png");
    background-size: cover; /* Scales image to cover entire div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repetition */
    position: absolute;
    top: 1700px;   /* Moves image 100px down from the top */
    left: 1900px;  /* Moves image 200px from the left */
}
.img4 {
    width: 300px;
    height: 260px;
    background-image: url("Tulip.png");
    background-size: cover; /* Scales image to cover entire div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repetition */
    position: absolute;
    top: 1700px;   /* Moves image 100px down from the top */
    left: 1400px;  /* Moves image 200px from the left */
}
.img5 {
    width: 300px;
    height: 260px;
    background-image: url("Tulip.png");
    background-size: cover; /* Scales image to cover entire div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repetition */
    position: absolute;
    top: 1700px;   /* Moves image 100px down from the top */
    left: 1600px;  /* Moves image 200px from the left */
}
.img6 {
    width: 200px;
    height: 260px;
    background-image: url("Tulip.png");
    background-size: cover; /* Scales image to cover entire div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repetition */
    position: absolute;
    top: 1700px;   /* Moves image 100px down from the top */
    left: 2400px;  /* Moves image 200px from the left */
}
.img7 {
    width: 100px;
    height: 260px;
    background-image: url("Tulip.png");
    background-size: cover; /* Scales image to cover entire div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repetition */
    position: absolute;
    top: 1700px;   /* Moves image 100px down from the top */
    left: 2300px;  /* Moves image 200px from the left */
}
.img8 {
    width: 200px;
    height: 230px;
    background-image: url("TulipYellow.png");
    background-size: cover; /* Scales image to cover entire div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repetition */
    position: absolute;
    top: 1750px;   /* Moves image 100px down from the top */
    left: 1700px;  /* Moves image 200px from the left */
}
.img9 {
    width: 200px;
    height: 250px;
    background-image: url("TulipYellow.png");
    background-size: cover; /* Scales image to cover entire div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repetition */
    position: absolute;
    top: 1700px;   /* Moves image 100px down from the top */
    left: 2000px;  /* Moves image 200px from the left */
}
.img10 {
    width: 200px;
    height: 210px;
    background-image: url("TulipYellow.png");
    background-size: cover; /* Scales image to cover entire div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repetition */
    position: absolute;
    top: 1750px;   /* Moves image 100px down from the top */
    left: 1300px;  /* Moves image 200px from the left */
}
.img11 {
    width: 200px;
    height: 160px;
    background-image: url("TulipYellow.png");
    background-size: cover; /* Scales image to cover entire div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repetition */
    position: absolute;
    top: 1800px;   /* Moves image 100px down from the top */
    left: 1200px;  /* Moves image 200px from the left */
}